NEXT_PUBLIC_ENV=development
NEXT_PUBLIC_API_URL=http://localhost:3003          # user-service
NEXT_PUBLIC_AUTH_URL=http://localhost:3002         # gateway → auth-service
NEXT_PUBLIC_USER_URL=http://localhost:3002
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_LINKEDIN_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
